{
  "swagger": "2.0",
  "info": {
    "title": "Tulip Connector 3",
    "description": "Connect to your Tulip Tables in your Tulip instance to read, update and create records.",
    "version": "1.0"
  },
  "host": "api.tulip.co",
  "basePath": "/api/v3",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/tables/{tableid}/records": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Record",
        "description": "Create a record in a tulip table",
        "operationId": "CreateRecord",
        "parameters": [
          {
            "name": "tableid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "factoryURL",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string",
              "description": "This is the content to update the table. Should be in JSON format, contain a new unique id and relevant field ids and content.",
              "title": "Body JSON",
              "default": "{ \"id\":\"new_unique_id\" , \"field_id_1\":\"content1\", \"field_id_2\":\"content2\" ..... \"field_id_N\":\"contentN\"}"
            }
          }
        ]
      }
    },
    "/tables": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "importFamilyID": {
                    "type": "string",
                    "description": "importFamilyID"
                  },
                  "label": {
                    "type": "string",
                    "description": "label"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "label": {
                          "type": "string",
                          "description": "label"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        },
                        "dataType": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "columnOrientation": {
                              "type": "string",
                              "description": "columnOrientation"
                            },
                            "tableLinkID": {
                              "type": "string",
                              "description": "tableLinkID"
                            }
                          },
                          "description": "dataType"
                        },
                        "hidden": {
                          "type": "boolean",
                          "description": "hidden"
                        },
                        "unique": {
                          "type": "boolean",
                          "description": "unique"
                        }
                      }
                    },
                    "description": "columns"
                  },
                  "createdBy": {
                    "type": "string",
                    "description": "createdBy"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "createdAt"
                  },
                  "updatedBy": {
                    "type": "string",
                    "description": "updatedBy"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "updatedAt"
                  },
                  "workspaceID": {
                    "type": "string",
                    "description": "workspaceID"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Tables",
        "description": "Gets a list of your tulip tables and the fields",
        "operationId": "GetTables",
        "parameters": [
          {
            "name": "factoryURL",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/tables/{tableId}/records/": {},
    "/tables/{tableId}/records/{recordId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Record",
        "description": "Get a record from a Tulip Table",
        "operationId": "GetRecord",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "factoryURL",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": []
}